.page-numbers {
    width: 50%;
    position:absolute;
    top:80px;
    left: 22%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

.page-numbers > li {
    
        margin-right: 0.3em;
        color: white;
        user-select: none;
        cursor: pointer;
        
      
}

.page-numbers > li:active{
  color: red;
}

.activePage {
  color: blue
}



.cards {
 
  display: flex;
  
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.image {
  border: solid 5px black;
}

.container{
  position: absolute;
  width: 70%;
  left:10%;
  

}
