#page-numbers {
    width: 25%;
    position:absolute;
    left: 75%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

#page-numbers > li {
    
        margin-right: 0.3em;
        color: white;
        user-select: none;
        cursor: pointer;
      
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.image {
  border: solid 5px black;
}